@media screen and (max-width :1000px) {
    .gallery-section{
        grid-template-areas:"gallery_1 gallery_1 gallery_2" "gallery_3 gallery_4 gallery_4" "gallery_5 gallery_5 gallery_5" ;
    }
}

@media screen and (max-width :670px) {
    .image-4{
        grid-column: 2 /3;
    }
   .reserve-section{
    padding: 10px 0px;
    .right{
        font-size: 12px;
    }
    .left{
        font-size: 13px;
    }
   } 
   .gallery-section{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 280px);
        grid-template-areas: "gallery_1 gallery_1" "gallery_3 gallery_2" "gallery_4 gallery_4" "gallery_5 gallery_5";
    }

}
@media screen and (max-width :400px) {
    .image-4{
        grid-column:auto;
    }
    .reserve-section{
        grid-template-columns: 15px repeat(4, 1fr) 15px;
    }
}